boto3>=1.26.0,<2.0.0
botocore>=1.29.0,<2.0.0
docstring-parser>=0.15,<1.0
mcp>=1.11.0,<2.0.0
opentelemetry-api>=1.30.0,<2.0.0
opentelemetry-instrumentation-threading>=0.51b0,<1.00b0
opentelemetry-sdk>=1.30.0,<2.0.0
pydantic>=2.4.0,<3.0.0
typing-extensions>=4.13.2,<5.0.0
watchdog>=6.0.0,<7.0.0
streamlit==1.50.0
tenacity==9.1.2
toml==0.10.2
tornado==6.5.2
typing-inspection==0.4.2
tzdata==2025.2
urllib3==2.5.0
uvicorn==0.37.0
wrapt==1.17.3